:root {
    --regular-manrope: 400 16px/22px Manrope;
    --light-manrope: 300 16px/22px Manrope;
    --bold-manrope: 700 16px/22px Manrope;
    --extrabold-manrope: 800 16px/22px Manrope;
    --text-color: #707070;
}

* {
    padding: 0;
    margin: 0;
    font: var(--regular-manrope);
}

#content-wrapper {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
    scroll-behavior: smooth;
}

h1 {
    font: var(--bold-manrope);
    margin-bottom: 1em;
}

#navigation {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    z-index: 10;
}

#navigation a {
    display: block;
    border-left: 1px solid #969696;
    margin: 0.5em;
    padding: 0.25em;
    padding-left: 1em;
    text-decoration: none;
    color: #969696;
}

section {
    height: 100vh;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#landing-page {
    padding: 0;
    overflow: hidden;
    background-image: url('assets/worried-young-woman-sitting-near-broken-automobile-at-4173090.jpg');
    background-position: center;
    background-size: cover;
}

#architecture {
    background-color: #251F48;
}

#architecture img {
    align-self: center;
}

#process {
    justify-content: space-around;
}

#process img {
    align-self: center;
    width: auto;
    height: 38%;
}

#team {
    position: relative;
}

#team #team-description {
    margin-bottom: 5em;
}

#team figcaption {
    text-align: center;
}

#team img {
    margin-right: 1em;
    margin-left: 1em;
}

.img-row {
    display: flex;
    flex-wrap: wrap;
    min-width: 870px;
    margin-bottom: 2em;
}

#footer {
    position: absolute;
    background-color: #251F48;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #FFF;
}

#footer a:hover {
    text-decoration: underline;
}