:root {
    --regular-manrope: 400 14px/16.8px Manrope;
    --light-manrope: 300 14px/16.8px Manrope;
    --bold-manrope: 700 14px/16.8px Manrope;
    --extrabold-manrope: 800 14px/16.8px Manrope;
    --text-color: #707070;
    --navigation-padding-left: calc(2% + 250px);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font: var(--regular-manrope);
    color: var(--text-color);
}

#content-wrapper {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
    scroll-behavior: smooth;
}

h1 {
    font: var(--bold-manrope);
    margin-bottom: 1em;
}

b {
    font: var(--extrabold-manrope);
}

#navigation {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    z-index: 10;
    animation: slide-in-from-left 1s ease-out;
}

@keyframes slide-in-from-left {
    from {transform: translate(-300%, -50%);}
    to {transform: translate(0, -50%);}
}

#navigation a {
    display: block;
    border-left: 1px solid #969696;
    margin: 0.5em;
    padding: 0.25em;
    padding-left: 1em;
    text-decoration: none;
    color: #969696;
}

#back-top {
    position: fixed;
    bottom: -35px;
    right: 30px;
    transition: bottom .1s ease-in-out;
    z-index: 10;
}

#back-top svg {
    width: 30px;
    height: auto;
}

section {
    height: 100vh;
    padding-left: var(--navigation-padding-left);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

.light {
    position: relative;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.light .top-wave, .light .bottom-wave {
    position: absolute!important;
    left: 0!important;
    width: 100%!important;
    height: auto!important;
}

.light .top-wave {
    top: -1px!important;
}

.light .bottom-wave {
    bottom: 0!important;
}



.dark {
    color: #FFF!important;
    background-color: #251F48;
}

.dark a {
    color: #FFF!important;
}

.headline {
    position: relative;
    margin-right: var(--navigation-padding-left);
    font-size: 3.125em!important;
    line-height: normal;
    text-align: center;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: var(--text-color);
    text-decoration: underline;
}

.scale-up-bottom {
    overflow: hidden;
}

.scale-up-bottom > * {
    position: relative;
    animation: scale-up-bottom .8s cubic-bezier(0, 0, 0, 1) both;
}

@keyframes scale-up-bottom {
    0% {transform: translateY(200%);}
    80% {transform: translateY(-5%);}
    100% {transform: translateY(0);}
}

#landing-page {
    position: relative;
    padding: 0;
    overflow: hidden;
    background-image: url('assets/fullscreen_app_scene.png');
    background-position: bottom;
    background-size: cover;
}

#landing-page .headline {
    display: block;
    margin: 0;
    text-align: left;
}

#landing-page .content {
    position: relative;
    width: 25%;
    left: 65%;
}

#landing-page .content .headline b{
    font-size: 50px;
}

#landing-page .content h1 {
    margin-bottom: 0;
}

#landing-page .content p {
    margin-top: 1em;
    visibility: hidden;
    animation: slide-up-bottom 1s cubic-bezier(0, 0, 0, 1) .3s forwards;
}

#landing-page .arrow-down {
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 20px;
    position: absolute;
    cursor: pointer;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}


@keyframes slide-up-bottom {
    from {transform: translateY(100px);}
    to {transform: translateY(0);visibility: visible;}
}


#app .introduction {
    padding-bottom: 1em;
}

#app .introduction .description {
    max-width: 900px;
}

#app .content {
    display: flex;
    flex-direction: row;
}

#app .content #status-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

#app .content #status-wrapper .button {
    position: absolute;
    height: calc(100% + -17px);
    width: 50%;
    background: transparent;
    border: 0;
    z-index: 10;
    cursor: pointer;
}

#app .content #status-wrapper .button:focus {
    outline: none;
}

#app .content #status-wrapper #left-btn {
    left: 0;
}

#app .content #status-wrapper #left-btn .btn-icon {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#app .content #status-wrapper #right-btn {
    right: 0;
}

#app .content #status-wrapper #right-btn .btn-icon {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#app .content #status-wrapper .btn-icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#app .content #status-wrapper .status {
    position: absolute;
    top: 44px;
    padding-right: 10px;
    height: 79%;
    border-radius: 20px;
}

#app figure {
    flex: 0 1 10px;
    width: 33%;
    display: flex;
    flex-direction: column;
}

#app figure img {
    object-fit: cover;
}

#app figure figcaption {
    padding: 0 1em;
}

#app figure figcaption ol {
    padding-left: 2em;
    padding-right: 1em;
}

#dashboard .introduction .description {
    max-width: 900px;
    margin: 1em 0;
}

#dashboard .content {
    display: flex;
    flex-direction: row;
}

#dashboard .content ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5em;
    flex: 1;
    max-width: 500px;
    min-width: 350px;
}

#dashboard .content ol > li {
    padding: 1em 0;
}

#dashboard .content img {
    margin: auto;
    width: 40%;
}

#technologies {
    padding-top: 9.375em;
    padding-bottom: 6.25em;
    padding-right: 6.25em;
}

#technologies .headline {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#technologies .content {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}

#technologies .content .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid #000;
    margin: 5px;
    padding: 0 1em;
    flex: 1 0 auto;
    border-radius: 10px;
}

#technologies .content .card-wrapper {
    padding: 0;
    border: 0;
}

#technologies .content .card-wrapper div:nth-child(odd) {
    margin-bottom: 5px;
}

#technologies .content .card-wrapper div:nth-child(even) {
    margin-top: 5px;
}

#technologies .content .card .sub-card {
    width: calc(100% - 2em);
    margin: 0;
}

#technologies .content .card .header-logo {
    height: 80px;
    padding: 10px;
}

#technologies .content .card ul {
    list-style-type:none;
    align-self: flex-start;
    margin: auto;
    width: 100%;
}

#technologies .content .card ul li {
    display: flex;
    align-items: center;
    padding: .5em 0;
}

#technologies .content .card ul li img {
    width: 64px;
    height: auto;
}

#technologies .content .card ul li .plus, #technologies .content .card ul li .plus::after {
    height: 40px;
    width: 2px;
    background-color: var(--text-color);
}

#technologies .content .card ul li .plus {
    position: relative;
}

#technologies .content .card ul li .plus::after {
    content: "";
    position: absolute;
    transform: rotate(90deg);
}

#technologies .content .card ul li figure {
    margin: 0 auto;
    text-align: center;
}

#technologies .content .card ul li .center {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1700px), screen and (max-height: 800px) {
    #technologies {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #technologies .content .card .header-logo {
        display: none;
    }
    #technologies .content .card h1 {
        margin-top: 1em;
    }
}

@media screen and (max-width: 1300px) {
    #technologies .content .card ul li img {
        width: 32px;
        height: auto;
    }
}

#architecture .content {
    display: flex;
    align-items: center;
}

#architecture .content .description {
    min-width: 150px;
    max-width: 400px;
}

#architecture .content .description a {
    color: #FFF;
}

#architecture .content img {
    width: 40%;
    margin: auto;
}

#process {
    justify-content: space-around;
}

#process img {
    align-self: center;
    width: auto;
    height: 40%;
}

#process .content {
    max-width: 1050px;
    align-self: center;
}

@media screen and (max-width: 1365px), screen and (max-height: 700px) {
    #team #team-description {
        margin-bottom: 2em!important;
    }

    #team .img-row > figure img {
        width: 120px;
        height: auto;
    }
}

#team {
    position: relative;
}

#team #team-description {
    margin-bottom: 5em;
}

#team figcaption {
    text-align: center;
}

#team img {
    margin-right: 1em;
    margin-left: 1em;
}

#team .img-row {
    display: flex;
    margin-bottom: 2em;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
}

#footer a {
    color: #FFF;
    font-size: 12px;
}
