$darkblue: #252044;
$red: #e06039;
$yellow: #DBC200;
$dark-yellow: #dbc20080;
$green: #09e398;
//$lightgrey: rgba(103, 103, 103, 0.5);
//$darkgrey: rgba(103, 103, 103, 0.8);
$lightgrey: #67676780; // selected request
$lightgrey-text: #F6F6F6;
$darkgrey: #67676733; // request
$grey: #3A3A44; // chat header
$semi-dark-grey: #242234; // background chat
$darker-grey: #2B2A3A; // driver app menu
$grey-backdrop: #040510;
$white-font: #FBFBFB;
$semi-dark-blue: #383658; // top bar in driver app
$icon-grey: #9F9F9F; // request sidebar & filter icon
$light-grey-opaque: #9f9f9f33; // scrollbar
$grey-opaque: #9f9f9f5b; // scrollbar hover improvised
$gradient: transparent linear-gradient(180deg, #28224D 0%, #040510 100%);

$lightgrey-status: #ffffff4d;

//Filter: 
$lightblue: #398DE0;
$turquoise: #00DED5;
$neon-green: #38F891;

