$regular-manrope: 400 16px/22px Manrope;
$light-manrope: 300 16px/22px Manrope;
$bold-manrope: 700 16px/22px Manrope;
$extrabold-manrope: 800 16px/22px Manrope;

.font-regular-manrope {
  font: $regular-manrope;
}

.font-light-manrope {
  font: $light-manrope;
}

.font-bold-manrope {
  font: $bold-manrope;
}

.font-extrabold-manrope {
  font: $extrabold-manrope;
}